<%= image_tag "LogoGET.svg", style: 'z-index: 9; position: absolute;' %>

<div id='map' style='width: 100%; height: 100vh; overflow:hidden;' data-controller="map" data-map-markers-value="<%= @markers.to_json %>"></div>

<button id="btnOpen" class="openbtn" onclick="openNav()"><i class="fa-solid fa-arrow-left"></i> O que são GETs</button> 

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div class='container'>
        <h5> O que são GETs </h5>
        <p>Os Ginásios Educacionais Tecnológicos, GETs, fazem parte de uma nova concepção de escola do século XXI: um local de inovação didático-pedagógica, 
        experimentação do conhecimento e colaboração ativa de seus sujeitos. Por meio da abordagem das Ciências, Tecnologia, Engenharia, Artes e Matemática 
        (da sigla inglesa STEAM) e da cultura “mão na massa” , esses movimentos estão alinhados às tendências mundiais de aproximação da educação escolar ao 
        contexto do aluno, inspirando-o pela resolução de situações-problema do seu cotidiano na sociedade atual.</p>
        <p>Os GETs têm o objetivo de potencializar o 
        desenvolvimento de competências e habilidades por meio de atividades dinâmicas, abordagens interdisciplinares, métodos ativos de aprendizagem e recursos 
        que também promovem o desenvolvimento da cultura digital. É um conceito pedagógico no qual o conteúdo didático é abordado a partir de necessidades reais, 
        vividas e trazidas pelos próprios alunos de forma colaborativa.</p>
        <h5> Pilares do GET </h5>
        <p>1. <b>Aprendizagem mão na massa:</b> aprender, por meio da criação, da investigação, da experimentação e da colaboração.</p>
        <p>2. <b>Desenvolvimento integral:</b> recursos e práticas que potencializam o desenvolvimento cognitivo, físico, emocional, social e cultural dos estudantes.</p>
        <p>3. <b>Cultura Digital:</b> democratizar o uso qualificado e responsável das tecnologias digitais para uma sociedade mais justa, equânime e desenvolvida.</p>
        <p>4. <b>Sustentabilidade:</b> responsabilidade com a coexistência harmônica entre os aspectos social, econômico e ambiental.
        <p>5. <b>Vetores de transformação:</b> escolas incubadoras de inovação pedagógica para a rede de ensino, com a missão de inspirar boas práticas.
        <p>6. <b>Tecnologias Digitais da Informação e Comunicação (TDICs):</b> Estas Tecnologias abrangem o uso de recursos digitais que possibilitam a conexão entre pessoas e ambientes com base no uso de dispositivos, tais como: computadores, tablets, celulares
        <p>7. <b>Pensamento Computacional:</b> O pensamento computacional pode ser entendido como uma série de “processos de pensamento envolvidos na formulação de problemas e suas soluções”.</p>
    </div>
</div>

<div id="myGallery" class="gall">
    <div class="d-flex mx-3">
        <h3>Galeria dos GETs </h3>
        <div>
            <button id="btnOpenGal" class="btn" onclick="openGal()">Expandir</button> 
            <button id="btnCloseGal" class="btn btn-closeGal" onclick="closeGal()">Retrair</button>
        </div> 
    </div>
    <div class="" style="overflow-x: auto; white-space: nowrap; overflow-y: hidden;">
        <%= image_tag "2023_06_21 -  Lançamento GET   - Guilherme Oliveira-3.jpg", style: 'width: 18rem;' %>
        <%= image_tag "2023_06_21 -  Lançamento GET   - Guilherme Oliveira-10.jpg", style: 'width: 18rem;' %>
        <%= image_tag "2023_06_21 -  Lançamento GET   - Guilherme Oliveira-14.jpg", style: 'width: 18rem;' %>
        <%= image_tag "2023_06_27 - GET - Professor Antonio Boaventura  - Guilherme Oliveira-18.jpg", style: 'width: 18rem;' %>
        <%= image_tag "2023_06_27 - GET - Professor Antonio Boaventura  - Guilherme Oliveira-19.jpg", style: 'width: 18rem;' %>
        <%= image_tag "2023_06_27 - GET - Professor Antonio Boaventura  - Guilherme Oliveira-23.jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET - Elza Soares (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET - Elza Soares (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Cardeal Leme (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Cardeal Leme (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Cardeal Leme (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Coelho Neto (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Coelho Neto (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Coelho Neto (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Golda Meir (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Golda Meir (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Golda Meir (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Gurgel do Amaral (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Gurgel do Amaral (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Gurgel do Amaral (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Hélio Smidt (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Hélio Smidt (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Hélio Smidt (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Lourenço Filho (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Lourenço Filho (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Lourenço Filho (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Luis Carlos da Fonseca (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Luis Carlos da Fonseca (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Luis Carlos da Fonseca (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Max Fleuss (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Max Fleuss (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Max Fleuss (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Pablo Picasso (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Pablo Picasso (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Pablo Picasso (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET São Paulo (1).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET São Paulo (2).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET São Paulo (3).jpg", style: 'width: 18rem;' %>
        <%= image_tag "GET Yolis da Silva (1).jpeg", style: 'width: 18rem;' %>
        <%= image_tag "GET Yolis da Silva (2).jpeg", style: 'width: 18rem;' %>
        <%= image_tag "GET Yolis da Silva (3).jpeg", style: 'width: 18rem;' %>
        <%= image_tag "IMG_3058.jpg", style: 'width: 18rem;' %>
        <%= image_tag "IMG_3063.jpg", style: 'width: 18rem;' %>
    </div>
</div>

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "350px";
        document.getElementById("mySidebar").style.paddingLeft = "16px";
        document.getElementById("btnOpen").style.display = "none";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("mySidebar").style.paddingLeft = "0";
        document.getElementById("btnOpen").style.display = "block";
    }

    function openGal() {
        document.getElementById("myGallery").style.height = "250px";
        document.getElementById("btnOpenGal").style.display = "none";
        document.getElementById("btnCloseGal").style.display = "block";
    }

    function closeGal() {
        document.getElementById("myGallery").style.height = "80px";
        document.getElementById("btnOpenGal").style.display = "block";
        document.getElementById("btnCloseGal").style.display = "none";
    }
</script>